.header {
  font-family: Georgia;
  min-height: 50px;
  position: relative;
  font-size: 40px;
  text-decoration: steelblue;
}

.header span {
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
}
